@import "reset.css";

header {
    position: fixed;
    left: 60px;
    top: 62px;
}

header .main_title {
    font-family: HelveticaNeueLTStd-MdEx;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.61px;
}

header .main_title span {
    font-family: DXNgoStd-50;
}

nav {
    position: fixed;
    top: 60px;
    right: 0;
    font-family: HelveticaNeueLTStd-MdEx;
    font-size: 16px;
    letter-spacing: -0.61px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 64px;
}

footer {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.main_img {
    padding-top: 160px;
    text-align: center;
}

.white {
    color: #fff;
}

.on {
    text-decoration: underline;
}

.introduction_article {
    margin: 246px 64px 0 355px;
    font-family: DXNgoStd-30;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: -0.81px;
    color: #fff;
}

.introduction_imgs_vertical {
    margin: 50px 0 0 40px;
    display: flex;
    flex-wrap: wrap;
}

.introduction_imgs_vertical .items {
    margin-right: 18px;
    line-height: 4em;
}

.introduction_imgs_horizontal {
    margin: 30px 44px 0 40px;
}

.introduction_imgs_horizontal .items {
    line-height: 4em;
}