body {
    margin: 0;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: unset;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdEx';
    src: url('../fonts/HelveticaNeueLTPro-MdEx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DXNgoStd-50';
    src: url('../fonts/DX새고딕 Std-50.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DXNgoStd-30';
    src: url('../fonts/DX새고딕 Std-30.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}